.App {
  text-align: center;
}

.App-header {
  height: 91px;
  padding: 20px;
  color: white;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#610101+0,000000+100 */
  background: #610101; /* Old browsers */
  background: -moz-linear-gradient(top, #610101 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #610101 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #610101 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#610101', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
