
.App-header {
  padding: 20px;
  color: white;
  padding-top: 53px !important;
}

img.logo {
  width: auto;
  max-width: 152px;
  max-height: 50px;
}

img.ui.image {
  display: block;
  position: absolute;
  bottom: 13px;
}

.container {
  width: 80%;
  margin: 0 auto;
}


.mySearch {
  width: 100%;
}

.ui.input {
  font-size: 1em;
  height: 22px;
  margin-top: 4px;
  width: 100%;
}

i.content.icon {
  font-size: x-large;
  color: white;
}

button.ui.icon.button {
  padding: 5px !important;
}

button.ui.icon.button.btnMenu > i.content.icon {
  padding-top: 3px;
}

button.ui.icon.button.btnMenu {
  position: absolute;
  top: -31px;
  right: 0px;
  background-color: #00000063;
}

button.ui.icon.button.btnMenu:hover {
  background: black;
}

button.ui.icon.button.btnMenu:hover > i.content.icon:hover {
  color: #ce252a;
}

button.ui.button.btnExSearch {
  position: absolute;
  bottom: 13px;
  right: 1px;
  height: 22px;
  margin-top: 3px;
  font-size: 7pt;
  width: fit-content;
}
/*
.three.wide.column {
  padding: 0 !important;
  margin-top: 0;
  padding-bottom: 14px !important;
}
@media only screen and (max-width: 1300px) {

}*/